biblioteca {
    font-family: sans-serif;
    margin-left: 40px;
}

titulo {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

autor,
fechaPublicacion {
    list-style-type: disc inside;
    font-size: 80%;
    display: list-item;
    margin-left: 20px;
}