grado {
    font-family: sans-serif;
}

titulo,
tipo {
    display: block;
    text-align: center;
}

modulos {
    display: table;
    border: 1px solid grey;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

materia {
    display: table-row;
}

nombre {
    display: table-cell;
    background-color: rgb(182, 180, 180);
    padding: 10px;
    border: 1px solid grey;
}

curso {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}

horasSemanales {
    display: table-cell;
    padding: 10px;
    border: 1px solid grey;
}