* {
		margin: 5px auto;

}
body{
	width: 800px;
	font-family:Tahoma;
	font-size: 10pt;
	color: #666;
	margin:1px;
	padding: 1px;
	
}


header h1{
	font-family:Arial;
	font-size: 1.8em;
	color: #630;
}
article h1{
	font-size: 1.4em;
	color: #fff;
	background-color: #630;
	padding: 4px;
}

footer{
	width: 800px;
	background-color: #000;
	font-size:0.8em;
	color: #fff;
	padding-top: 4px;
	padding-bottom: 4px;
	text-align: center;
}

ul{
	font-style: italic;
	margin-left: 10px;
}

div.caja{
	float: left;
	margin-right: 15px;
	
}

div.caja2{
	float: right;
	margin-left: 15px;
	
}
