*{
		margin: 0 auto;
		
}

body{
	width: 920px;
	font-family: Arial, Verdana;
	font-size: 12pt;
	color: #333333;
}
footer{
	width: 912px;
	font-family: Tahoma;
	font-size: 8pt;
	background-color: black;
	color: white;
	text-align: center;
	clear: both;
}

section.secion1{
	width: 600px;
	margin-right: 20px;
	margin-left: 0px;
}
section.secion1 article {
	width: 600px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#EAEAEA;

}
article h2{
	margin-left: 10px;
	color:#5F5F61;
}
aside {
	width: 280px;
	float: right;
	border: 1px solid black;
	background-color: black;
	color: white;
	border-radius: 0px 20px 0px 20px;
	-moz-border-radius: 0px 20px 0px 20px;
	-webkit-border-radius: 0px 20px 0px 20px;
}
nav{
	width:920px;
	
}
nav ul {
	list-style: none;
	text-align: center;

}

nav ul li {
	display: block;
	float:left;
	background-color: #333333;
	color: white;
	margin: 10px;

}

nav ul li a {
	text-decoration: none;
	font-family: Arial;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #333333;
	color: white;

	
}

nav ul li:hover, nav ul li a:hover{
	color: #eeeeee;
	background: #000000;
}
section.secion2{
	width: 920px;
	
}
section.secion2 article {
	margin-top: 20px;
	width: 920px;
}
section.secion2 figure img {
	width: 200px;
	margin: 14px;
	float: left;
}
table{
	width: 800px;
}
tr.par{
	background-color: #999999;
}
tr.impar{
	background-color: #666666;
}
td {
	color:white;
	padding-left: 4px;
	height: 44px;
}

article.articulo1 div{
	width: 416px;
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	float: left;
}

figure.foto1{
	float:right;
	border: 1px solid black;
	font-style: italic;
	font-size: 10pt;
}
header figure{
	border: 1px solid black;
	padding: 8px;
}

header h1{
	background-color: black;
	color: white;
}