body {
    background-image: url("./images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: animal;
	font-size: 3em;
}

@font-face {
    font-family: 'animal';
    src: url('./Hattrick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}